<div class="bg-primary">
  <h1 class="text-center">Product Details for {{ product.name }}</h1>
</div>

<div class="container border border-secondary bg-light">
  <div class="row p-2">
    <div class="col-6 border border-secondary">
      <h5>Description </h5>
      <h5>{{ product.description }}</h5>
    </div>

    <div class="col-6 border border-secondary">
      <h5>Price</h5>
      <h5>{{ product.price }}</h5>
    </div>

  </div>

  <div class="row p-2">
    <div class="col-6 border border-secondary">
      <h5>Quantity</h5>
      <h5 *ngIf="product.quantityInStock == 0" class="text-danger">Out of stock</h5>
      <h5 *ngIf="product.quantityInStock != 0">{{ product.quantityInStock }}</h5>
    </div>

    <div class="col-6 border border-secondary">
      <h5>Category</h5>
      <h5>{{ product.category.categoryName }}</h5>
    </div>
  </div>
</div>

